{% extends 'base2.html' %}

{% load staticfiles %}

{% block content %}

{% for item in all_prods %}

    <li class="span3">
        <div class="product-box">
            <span class="sale_tag"></span>
            <a href="../{{ item.category }}/{{ item.id }}"><img alt="" src="{{ item.image.url }}" style="height:180px !important;width:226px !important;" ></a><br/>
            <a href="#" class="title">{{ item.name | capfirst }}</a><br/>
            <a href="#" class="category">{{ item.category }}</a>
            <p class="price">${{ item.price }}</p>
        </div>
    </li>

{% endfor %}
{% endblock %}

{% block pagination %}

<div class="pagination pagination-small pagination-centered">
    <span class="step-links">
        {% if all_prods.has_previous %}
            <a class="btn btn-info btn-xs" href="?page=1">&laquo; first</a>
            <a class="btn btn-info btn-xs"  href="?page={{ all_prods.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_prods.number }} of {{ all_prods.paginator.num_pages }}.
        </span>

        {% if all_prods.has_next %}
            <a class="btn btn-info btn-xs"  href="?page={{ all_prods.next_page_number }}">next</a>
            <a class="btn btn-info btn-xs"  href="?page={{ all_prods.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}