{% extends 'base2.html' %}

{% load staticfiles %}

{% block content %}

{% for item in all_prods %}

    <li class="span3">
        <div class="product-box">
            <span class="sale_tag"></span>
            <a href="../{{ item.category }}/{{ item.id }}"><img alt="" src="{{ item.image.url }}" style="height:180px !important;width:226px !important;" ></a><br/>
            <a href="#" class="title">{{ item.name | capfirst }}</a><br/>
            <a href="#" class="category">{{ item.category }}</a>
            <p class="price">${{ item.price }}</p>
        </div>
    </li>

{% endfor %}
{% endblock %}

